.header {
    background-color: #ffffff;
    height: 88px;
    position: relative;
    width: 1440px;
    text-decoration: none;
}


.header .div-header-logo-img {
    background-color: #7843e9;
    border-radius: 50px;
    height: 50px;
    left: 50px;
    overflow: hidden;
    position: absolute;
    top: 19px;
    width: 50px;
}

.header .profile-pic {
    background-position: 50% 50%;
    background-size: cover;
    height: 50px;
}

.header .pablo {
    color: #333333;
    font-family: "Source Sans Pro-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    height: 27px;
    left: 115px;
    letter-spacing: 1px;
    line-height: 27px;
    position: absolute;
    top: 30px;
    white-space: nowrap;
    width: 162px;
}

.header .list-item-home {
    color: #333333;
    font-family: "Source Sans Pro-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    height: 20px;
    left: 926px;
    letter-spacing: 1px;
    line-height: 24px;
    position: absolute;
    top: 33px;
    white-space: nowrap;
    width: 47px;
}

.header .list-item-about {
    color: #333333;
    font-family: "Source Sans Pro-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    height: 20px;
    left: 1032px;
    letter-spacing: 1px;
    line-height: 24px;
    position: absolute;
    top: 33px;
    white-space: nowrap;
    width: 55px;
}

.header .list-item-projects {
    color: #333333;
    font-family: "Source Sans Pro-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    height: 20px;
    left: 1147px;
    letter-spacing: 1px;
    line-height: 24px;
    position: absolute;
    top: 33px;
    white-space: nowrap;
    width: 81px;
}

.header .list-item-contact {
    color: #333333;
    font-family: "Source Sans Pro-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    height: 20px;
    left: 1287px;
    letter-spacing: 1px;
    line-height: 24px;
    position: absolute;
    top: 33px;
    white-space: nowrap;
    width: 73px;
}

.link {
    text-decoration: none;
}