.header {
  background-color: white;
  height: 88px;
  width: auto;
  text-decoration: none;
  color: #333333;
  /* font-family: 'Source Sans Pro-Bold', Helvetica; */
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 27px;
}

.profile-pic {
  background-position: 50% 50%;
  background-size: cover;
  /* height: 50px;
  width: 50px; */
  max-width: 100px;
  /* background-color: #7843e9; */
  /* border-radius: 50px; */
  left: 50px;
  overflow: hidden;
  /* position: absolute; */
  /* top: 19px; */
  margin-top: -7px;
}

.list-item {
  margin-left: 3em;
}

.link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.link:hover {
  color: #58b88e;
}

.navbar-brand a {
  margin-left: 10px;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  padding-top: 8px;
}
.navbar-nav .textButton {
  margin-left: 3em;
  min-width: 100px;
}

.ms-auto.mt-3.navbar-nav {
  align-items: center;
}

.navbar-toggler-icon {
  background-image: none !important;
  background-color: var(--bs-gray-800);
  height: 3px;
  width: 25px;
  margin: 10px 0;
  position: relative;
  transition: all 0.35s ease-out;
  transform-origin: center;
}

.navbar-toggler-icon::before {
  display: block;
  background-color: var(--bs-gray-800);
  height: 3px;
  content: '';
  position: relative;
  top: -7px;
  transition: all 0.15s ease-out; /*taken down to hide quicker*/
  transform-origin: center;
}

.navbar-toggler-icon::after {
  display: block;
  background-color: var(--bs-gray-800);
  height: 3px;
  content: '';
  position: relative;
  top: 4px;
  transition: all 0.35s ease-out;
  transform-origin: center;
}

.navbar-dark .navbar-toggler-icon,
.navbar-dark .navbar-toggler-icon::before,
.navbar-dark .navbar-toggler-icon::after {
  background-color: var(--bs-gray-100);
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  transform: rotate(45deg);
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon::before {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon::after {
  transform: rotate(-90deg) translateX(7px);
}

@media (max-width: 992px) {
  .header {
    height: auto;
  }

  .list-item,
  .navbar-nav .textButton {
    margin-left: 0px;
    margin-top: 3em;
  }

  .navbar-nav .textButton {
    margin-bottom: 3em;
  }
}
