.AboutMePage {
  display: flex;
  background-color: white;
  margin: 0;
  padding: 0;
}
.centerDiv {
  margin-top: 3rem;
}
.pitch {
  margin-top: 2em;
}

.my-description {
  text-align: center;
}

/* .who-i-am {
  padding-right: 50px;
} */

.navbar-toggler {
  border-color: #00ff8f;
}
.logos {
  justify-content: center;
}

.photo-and-text {
  display: flex;
  flex-direction: column;
}
.who-i-am img {
  /* width: 100%; */
  /* height: auto; */
  max-width: 120px;
  height: auto;
  /* clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 20%,
    100% 80%,
    80% 100%,
    20% 100%,
    0% 80%,
    0% 20%,
    round 10%
  ); */
  /* object-fit: scale-down; */
  /* object-fit: cover; */
  border-radius: 50%;
  margin: 0 auto 35px;
}

.logos {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.logos svg {
  margin-top: 2rem;
  width: 13%;
  margin-right: 30px;
}

/* MEDIA QUERIES */

@media (min-width: 768px) and (max-width: 1200px) {
  h3 {
    text-align: center;
  }
  .centerDiv {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
  }
  .photo-and-text {
    display: flex;
    margin-top: 2rem;
  }

  .my-skills {
    margin-top: 2rem;
  }
  /* .my-skills {
    padding-right: 50px;
  } */
  .centerDiv {
    /* padding: 100px; */
    padding: 40px;
  }

  /* .who-i-am img {
    width: 30%;
    height: auto;
    clip-path: polygon(
      20% 0%,
      80% 0%,
      100% 20%,
      100% 80%,
      80% 100%,
      20% 100%,
      0% 80%,
      0% 20%,
      round 10%
    );
    object-fit: cover;
    border-radius: 20%;
    margin-right: 20px;
  } */
}

@media (min-width: 1200px) {
  .AboutMePage {
    height: 100vh;
  }
  h3 {
    text-align: center;
  }
}

@media (max-width: 767px) {
  h3 {
    text-align: center;
  }
  .centerDiv {
    /* padding: 100px; */
    padding: 10px;
  }

  .logos {
    justify-content: center;
  }

  .my-skills {
    margin-top: 2rem;
  }

  .my-skills2 {
    justify-content: center;
  }
  .my-description {
    text-align: justify;
  }

  .centerDiv {
    margin-bottom: 2em;
  }
}
