.contactForm {
  display: flex;
  justify-content: center;
}

.PostFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.postFooterText {
  text-align: center;
  margin: 1rem 0;
}

.logosFooter {
  display: flex;
  height: 50px;
  justify-content: center;
}
.githubdiv,
.linkedindiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
svg {
  width: 20%;
  height: auto;
}

.Footer img {
  width: 25%;
  height: auto;
}

.rights {
  background-color: black;
  color: white;
  padding: 15px 0;
  text-align: center;
}
