.ProjectCards {
  position: relative;
  display: flex;
  overflow: hidden;
}

.box1,
.box2 {
  text-align: center;
  overflow: hidden;
  max-height: 300px;
  width: 100%;
  transition: opacity 0.6s ease-out, max-height 0.6s ease-out;
}

.box1 img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.box2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  max-height: 100%;
  opacity: 0;
  background-color: white;
}

.tools_button {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.ProjectCards:hover .box1 {
  opacity: 0;
}

.ProjectCards:hover .box2 {
  opacity: 1;
}

/* EFECTO QUE SALE DESDE ABAJO HACIA ARRIBA */
/* .ProjectCards:hover .box1 {
  max-height: 0px;
  opacity: 0;
}

.ProjectCards:hover .box2 {
  max-height: 100%;
  opacity: 1;
} */

h3 {
  font-size: 16pt;
  /* font-family: 'Raleway-bold'; */
}

.tools {
  margin-top: 1em;
  font-weight: bold;
  color: #58b88e;
  font-family: 'Raleway';
  -webkit-font-smoothing: antialiased;
  text-align: center;
  min-height: 120px;
}

.ProjectCards .textButton {
  align-self: center;
  width: 150px;
  /* margin-top: 3em; */
  border: black;
}

.titleModalRequestClass {
  text-align: center;
  margin: 0 auto;
}

.bodyRequestModalClass img {
  width: 500px;
  height: auto;
}

.modal-header .btn-close {
  display: none;
}

.description {
  margin: 0 1em;
}

.link-and-close {
  display: flex;
  justify-content: space-between;
  margin: 2em 1em 1em 1em;
  align-items: flex-end;
}

.titleModalRequestClass {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.link-and-close .textButton {
  margin-top: 1em;
}

/* .btn-close {
  margin: 1em;
  align-self: flex-end;
} */
